@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xss: 15rem;

  --color-text: #49557e;
  --color-tomato: #ff6347;
  --color-btn-hover: #fff4f2;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit";
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

@layer components{
  .active {
    background-color: #fff0ed;
    border-color: tomato;
  }

  .d-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}